Repository Lokrand/visitki: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx, ts, tsx}": [
    "prettier --config .prettierrc --write",
    "eslint --fix"
  ],
  "**/*.scss": [
    "prettier --config .prettierrc --write",
    "stylelint --fix"
  ],
  "**/*.html": [
    "prettier --config .prettierrc --write"
  ]
}

refactor: удалил комментарии и выводы в консоль
  src/components/FrameComment/FrameComment.module.scss
  src/components/FrameComment/FrameComment.tsx
  src/components/FrameStudent/FrameStudent.module.scss
  src/components/InputFile/InputFile.tsx
  src/components/YandexMap/YandexMap.tsx
  src/hoc/ProtectedRoute.tsx
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/DetailPage/DetailPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/utils/constants.ts
  src/vendor/stylesheets/datepicker.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix: добавил обработчики инпутов в админке
  src/components/FrameStudent/FrameStudent.tsx
  src/components/YandexMap/YandexMap.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
Due: none

fix: добавить путь до иконки
  src/pages/AdminCommentPage/AdminCommentPage.tsx
Due: none

fix: испраить пути до SCSS файлов (имена файлов)
  src/components/FrameComment/FrameComment.module.scss
  src/components/FrameStudent/FrameStudent.module.scss
  src/icons/CrossRed/CrossRed.module.scss
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminCommentPage/AdminCommentPageStyle.module.scss
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/AdminUsersPageStyle.module.scss
  src/pages/DetailPage/DetailPage.tsx
  src/pages/DetailPage/DetailPageStyle.module.scss
  src/pages/FileNotFoundPage/FileNotFoundPage.tsx
  src/pages/FileNotFoundPage/filenotfoundpage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/LoginPageStyle.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/MainPage/MainPageStyle.module.scss
  src/pages/MapPage/MapPage.tsx
  src/pages/MapPage/mappage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/ProfilePageStyle.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

docs: добавить ссылку на бриф
  README.md
Due: none

fix: исправить пути до файлов со стилями
  src/components/AppLayout/AppLayout.tsx
  src/components/AppLayout/AppLayoutStyles.module.scss
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminCommentPage/AdminCommentPageStyles.module.scss
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/AdminUsersPageStyles.module.scss
  src/pages/DetailPage/DetailPage.tsx
  src/pages/DetailPage/DetailPageStyles.module.scss
  src/pages/FileNotFoundPage/FileNotFoundPage.tsx
  src/pages/FileNotFoundPage/filenotfoundpage.module.scss
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/LoginPageStyles.module.scss
  src/pages/MainPage/MainPage.tsx
  src/pages/MainPage/MainPageStyles.module.scss
  src/pages/MapPage/MapPage.tsx
  src/pages/MapPage/mappage.module.scss
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/ProfilePageStyles.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix(readme): добавить ссылку на бриф
  README.md
Due: none

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.b0d29d9f.css
  static/css/main.b0d29d9f.css.map
  static/js/main.eec9ae26.js
  static/js/main.eec9ae26.js.LICENSE.txt
  static/js/main.eec9ae26.js.map
  static/media/IBMPlexSans-Bold.0563a80e82efbad172ff.woff
  static/media/IBMPlexSans-Bold.ffdd8696ca983efc2c20.woff2
  static/media/IBMPlexSans-Medium.bb6bb1b56ef163ca467c.woff2
  static/media/IBMPlexSans-Medium.ec22ea3142b488f48c8b.woff
  static/media/IBMPlexSans.5b67d03f5cc7578e9411.woff2
  static/media/IBMPlexSans.9f2053ee915629980221.woff
  static/media/blackHeart.d4f1ff1018d13e505b7745856549af77.svg
  static/media/border-top-diamond-line.41a89763a29115100422.svg
  static/media/border-top-line.8d1eaf5f2106d22bd2d1.svg
  static/media/border-top-wavy-line.311a9ea5d30243ab032f.svg
  static/media/dislike.772bf501ab0a9d3d0aeee8ea0d20c1f3.svg
  static/media/gray-avatar.1a8e564877daf5beed9c.jpg
  static/media/hello.ea9475f5c940d62e89379b1738db2ef9.svg
  static/media/irritation.84ca69c7e991e656bae5cddfa21c6dd0.svg
  static/media/laugh.8c50bd81e9d98697f972455499dda48b.svg
  static/media/like.c9520193ee24214eff7cd63e766c2daa.svg
  static/media/love.3cc9bb80f6f3c8300ca93f1e6c310b52.svg
  static/media/sad.1399a6fa59ffec6ac56df5858332666e.svg
  static/media/shock.b54f4d2ca09c038c0df23238bb744af1.svg
  static/media/smile.f41f3d230a2ecd4ccfe792850a144415.svg
  static/media/yandex-logo.31f30db780ecc8b6eba8fc659e766f9a.svg
Due: prettier --config .prettierrc --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.aa231619.css
  static/css/main.aa231619.css.map
  static/css/main.b0d29d9f.css
  static/css/main.b0d29d9f.css.map
  static/js/main.1b86b979.js
  static/js/main.1b86b979.js.LICENSE.txt
  static/js/main.1b86b979.js.map
  static/js/main.eec9ae26.js
  static/js/main.eec9ae26.js.map
Due: prettier --config .prettierrc --write, eslint --fix

refactor: поменял main route
  src/utils/constants.ts
Due: none

Updates
  asset-manifest.json
  index.html
  static/js/main.1b86b979.js
  static/js/main.1b86b979.js.map
  static/js/main.739ff026.js
  static/js/main.739ff026.js.LICENSE.txt
  static/js/main.739ff026.js.map
Due: prettier --config .prettierrc --write, eslint --fix

refactor: изменил homepage
  package.json
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.aa231619.css
  static/css/main.aa231619.css.map
  static/css/main.efe61d2f.css
  static/css/main.efe61d2f.css.map
  static/js/main.1a245c0e.js
  static/js/main.1a245c0e.js.LICENSE.txt
  static/js/main.1a245c0e.js.map
  static/js/main.739ff026.js
  static/js/main.739ff026.js.map
Due: prettier --config .prettierrc --write, eslint --fix

Updates
  asset-manifest.json
  index.html
  static/js/main.1a245c0e.js
  static/js/main.1a245c0e.js.map
  static/js/main.c038f98a.js
  static/js/main.c038f98a.js.LICENSE.txt
  static/js/main.c038f98a.js.map
Due: prettier --config .prettierrc --write, eslint --fix

refactor: поменял роуты обратно
  README.md
  package.json
  src/utils/constants.ts
Due: none

refactor: добавил инструкцию по запуску проекта
  README.md
Due: none

feat: поменять client id для yandex auth
  src/pages/LoginPage/LoginPage.tsx
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.197bc2aa.css
  static/css/main.197bc2aa.css.map
  static/css/main.efe61d2f.css
  static/css/main.efe61d2f.css.map
  static/js/main.79f337c8.js
  static/js/main.79f337c8.js.LICENSE.txt
  static/js/main.79f337c8.js.map
  static/js/main.c038f98a.js
  static/js/main.c038f98a.js.map
Due: prettier --config .prettierrc --write, eslint --fix

refactor(auth): поменять id пользователя на рабочий #69
  src/pages/LoginPage/LoginPage.tsx
Due: none

fix(api): добавить проверку статуса ответа с сервера #70
  src/utils/utils.ts
Due: none

fix: добавить условную отрисовку на страницах админки #70
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
Due: none

feat(api): добавить хук для поиска и фильтрации информации #70
  src/hook/useSearch.tsx
Due: none

refactor(api): подключить фильтрацию на страницы для админов #70
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
Due: none

refactor: убрать лишние пустые теги
  src/components/FrameComment/FrameComment.tsx
Due: none

refactor: удалить все обычные теги ссылки и заменить на Link
  src/components/UI/SocialLink/SocialLink.tsx
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
Due: none

feat: добавить верстку для предупреждения #75
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/AdminUsersPageStyles.module.scss
  src/styles/constants.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix: удалить лишние импорты переменных #75
  src/components/FrameComment/FrameComment.module.scss
  src/components/FrameStudent/FrameStudent.module.scss
  src/components/ModalComments/EmojisList/EmojisList.module.scss
  src/components/YandexMap/YandexMap.module.scss
  src/icons/CrossRed/CrossRed.module.scss
  src/pages/MainPage/MainPageStyles.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавить новую аватарку для админа
  src/components/Header/Header.tsx
  src/icons/AdminAvatar/AdminAvatar.tsx
  src/icons/AvatarBackground/gray-avatar.jpg
Due: none

fix: вернуть тег <a> для обычных ссылок
  src/components/UI/SocialLink/SocialLink.tsx
Due: none

fix: убрать неиспользуемый импорт
  src/components/Header/Header.tsx
Due: none

feat: внесение изменений в верстку
  src/components/FrameComment/FrameComment.tsx
  src/components/FrameStudent/FrameStudent.module.scss
  src/components/FrameStudent/FrameStudent.tsx
  src/icons/CrossRed/CrossRed.tsx
  src/icons/Delete/Delete.module.scss
  src/icons/Delete/Delete.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/AdminUsersPageStyles.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix: добавить необходимые для рендера аватара зависимость в хук useFetch
  src/components/Header/Header.tsx
  src/components/YandexMap/YandexMap.tsx
  src/hook/useFetch.tsx
  yarn.lock
Due: none

feat: избавился от большинства any в типах #81
  src/components/Footer/Footer.tsx
  src/components/FrameComment/FrameComment.tsx
  src/components/Header/Header.tsx
  src/components/InpuTextArea/InpuTextArea.tsx
  src/components/Input/Input.tsx
  src/components/InputCalendar/InputCalendar.tsx
  src/components/InputSelect/InputSelect.tsx
  src/components/ModalComments/EmojisList/EmojisList.tsx
  src/components/ModalComments/ModalComments.tsx
  src/components/ProfilePhoto/ProfilePhoto.tsx
  src/components/UI/TextareaNewComment/TextareaNewComment.tsx
  src/components/UI/Title/Title.tsx
  src/components/YandexMap/YandexMap.tsx
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/DetailPage/DetailPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/MapPage/MapPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
Due: none

feat(admin): anmin/users загрузка новых студентов, удаление #2
  package-lock.json
  src/components/FrameStudent/FrameStudent.module.scss
  src/components/FrameStudent/FrameStudent.tsx
  src/hook/useForm.tsx
  src/icons/Delete/Delete.tsx
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/AdminUsersPageStyles.module.scss
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

feat(header): добавить всплывающую навигацию в header #85
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/styles/constants.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(header): добавить возможность выходить из профиля #85
  src/components/Header/Header.tsx
  src/hoc/AuthProvider.tsx
  src/utils/types.ts
Due: none

fix: испавить имя атрибута в svg #85
  src/icons/AdminAvatar/AdminAvatar.tsx
Due: none

fix: исправить перенаправление по ролям после авторизации #85
  src/pages/LoginPage/LoginPage.tsx
Due: none

feat: запретить доступ к главной странице для админов #85
  src/pages/MainPage/MainPage.tsx
Due: none
