Repository Lokrand/visitki: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

style(layout): добавить адаптивные стили для главного контейнера #24
  src/components/AppLayout/applayout.module.scss
  src/components/UI/Title/title.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавить верстку для страницы с логином #24
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/loginpage.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix: исправить адаптивную верстку страницы с логином #24
  src/components/UI/Button/Button.module.scss
  src/pages/LoginPage/loginpage.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавил компонент чата #32
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
  src/components/UI/Chat/Chat.module.scss
  src/components/UI/Chat/Chat.tsx
  src/icons/Chat/ChatIcon.tsx
  src/pages/CohortPage/CohortPage.tsx
  src/pages/CohortPage/cohortpage.module.scss
  src/pages/Gallery/Gallery.module.scss
  src/pages/Gallery/Gallery.tsx
Due: prettier --config .prettierrc --write, stylelint --fix

refactor: исправил импорт cohortPage
  src/components/Card/Card.tsx
Due: none

Rename cohortpage.module.scss to cohortPage.module.scss
  src/pages/CohortPage/cohortPage.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавил базовую структуру модалки с комментами #34
  src/components/Card/Card.tsx
  src/components/ModalComments/ModalComments.module.scss
  src/components/ModalComments/ModalComments.tsx
  src/components/UI/Chat/Chat.tsx
Due: prettier --config .prettierrc --write, stylelint --fix

refactor: исправил index.html
  public/index.html
Due: prettier --config .prettierrc --write

feat(api): добавить универсальный обработчик запросов на сервер #35
  package.json
  src/utils/types.ts
  src/utils/utils.ts
Due: none

feat(api): добавить функции для работы с данными пользователей #35
  package.json
  setupProxy.js
  src/utils/api.ts
  src/utils/types.ts
  src/utils/utils.ts
Due: prettier --config .prettierrc --write, eslint --fix

feat(profile): профиль с календарем №15
  package.json
  src/components/InpuTextArea/InpuTextArea.module.scss
  src/components/InpuTextArea/InpuTextArea.tsx
  src/components/Input/Input.tsx
  src/components/InputCalendar/InputCalendar.module.scss
  src/components/InputCalendar/InputCalendar.tsx
  src/components/InputFile/InputFile.module.scss
  src/components/InputFile/InputFile.tsx
  src/components/InputSelect/InputSelect.module.scss
  src/components/InputSelect/InputSelect.tsx
  src/components/ProfilePhoto/ProfilePhoto.module.scss
  src/components/ProfilePhoto/ProfilePhoto.tsx
  src/components/UI/Button/Button.tsx
  src/icons/ArrowCalendar/ArrowCalendar.tsx
  src/icons/Attach/Attach.tsx
  src/icons/Calendar/Calendar.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/profilepage.module.scss
  src/utils/calendar.ts
  src/utils/types.ts
  src/vendor/stylesheets/datepicker-cssmodules.scss
  src/vendor/stylesheets/datepicker.scss
  src/vendor/stylesheets/mixins.scss
  src/vendor/stylesheets/variables.scss
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

feat(api): добавить обработчики запросов api для комментарий #35
  src/utils/api.ts
  src/utils/constants.ts
  src/utils/types.ts
Due: none

feat(api): добавить обработчики запросов api для /profiles #35
  src/utils/api.ts
  src/utils/types.ts
Due: none

feat: добавил базовую структуру для модалки с комментами #34
  package-lock.json
  package.json
  src/components/Card/Card.tsx
  src/components/ModalComments/ModalComments.module.scss
  src/components/ModalComments/ModalComments.tsx
  src/pages/CohortPage/CohortPage.tsx
  src/styles/constants.scss
  src/utils/students.ts
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавить футер на страницу #18
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/utils/students.ts
Due: prettier --config .prettierrc --write, stylelint --fix

feat(api): добавить кастомный хук для работы с запросами на сервер #35
  src/hook/useFetch.tsx
Due: none

refactor(api): переписать логику работы с запросами на сервер #35
  src/utils/api.ts
  src/utils/types.ts
  src/utils/utils.ts
Due: none

feat: добавил emoji #34
  package-lock.json
  package.json
  src/components/ModalComments/ModalComments.module.scss
  src/components/ModalComments/ModalComments.tsx
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

docs: добавил .env для запуска проекта #35
  .env
Due: none

feat: добавить хэдер
  package-lock.json
  package.json
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/icons/Logo/Logo.tsx
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

fix: исправить футер на дестктопном разрешении
  src/components/Footer/Footer.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(hooks): добавить хук для работы с localStorage #40
  src/hook/useLocalStorage.tsx
Due: none

feat: переписал стиль добавления эмоджи #34
  package-lock.json
  package.json
  src/components/ModalComments/EmojisList/EmojisList.module.scss
  src/components/ModalComments/EmojisList/EmojisList.tsx
  src/components/ModalComments/ModalComments.module.scss
  src/components/ModalComments/ModalComments.tsx
  src/components/UI/Chat/Chat.tsx
  src/components/UI/EmojiReaction/EmojiReaction.module.scss
  src/components/UI/EmojiReaction/EmojiReaction.tsx
  src/images/blackHeart.svg
  src/images/dislike.svg
  src/images/hello.svg
  src/images/irritation.svg
  src/images/laugh.svg
  src/images/like.svg
  src/images/love.svg
  src/images/sad.svg
  src/images/shock.svg
  src/images/smile.svg
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавил захардкоженные комментарии #34
  src/components/ModalComments/ModalComments.module.scss
  src/components/ModalComments/ModalComments.tsx
Due: prettier --config .prettierrc --write, stylelint --fix

refactor: изменил типы в useFetch для корректной работы проекта
  src/components/Header/Header.tsx
  src/hook/useFetch.tsx
  src/utils/api.ts
Due: none

fix: исправить изменение размеров логотипа на разных разрешениях
  src/components/Header/Header.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Delete yarn.lock
  yarn.lock
Due: none

Delete package-lock.json
  package-lock.json
Due: none

feat: добавить начальные данные о пользователе в localStorage #40
  src/hoc/AuthProvider.tsx
  src/hoc/ProtectedRoute.tsx
  src/hook/useFetch.tsx
  src/hook/useLocalStorage.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/utils/types.ts
Due: none

feat: сделать переадрисацию исходя из роли пользователя #40
  src/pages/LoginPage/LoginPage.tsx
Due: none

fix: исправить логику перенаправления пользователя #40
  src/pages/LoginPage/LoginPage.tsx
Due: none

build: добавить типизацию scss модулей
  .vscode/settings.json
  package.json
  tsconfig.json
Due: none

fix: внести поправки в footer и header #41
  src/components/AppLayout/AppLayout.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
Due: prettier --config .prettierrc --write, stylelint --fix

fix: добавить основную сетку для шаблона страницы #41
  src/components/Footer/Footer.module.scss
  src/components/Header/Header.module.scss
  src/index.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавить блок с ссылками на соц. сети #41
  src/components/UI/SocialLink/SocialLink.module.scss
  src/components/UI/SocialLink/SocialLink.tsx
  src/components/UI/SocialLink/index.ts
  src/icons/GitHub/GitHub.tsx
  src/icons/Telegram/Telegram.tsx
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавить шапку страницы с детальной информацией о пользователе #41
  src/components/AppLayout/applayout.module.scss
  src/components/Header/Header.module.scss
  src/components/UI/Title/title.module.scss
  src/icons/Marks/Marks.tsx
  src/pages/DetailPage/DetailPage.tsx
  src/pages/DetailPage/detailpage.module.scss
  src/utils/api.ts
Due: prettier --config .prettierrc --write, stylelint --fix

feat(test): cities #15
  package.json
  src/components/InpuTextArea/InpuTextArea.module.scss
  src/components/Input/Input.module.scss
  src/components/Input/Input.tsx
  src/components/InputCalendar/InputCalendar.module.scss
  src/components/InputCalendar/InputCalendar.tsx
  src/components/InputFile/InputFile.module.scss
  src/components/InputFile/InputFile.tsx
  src/components/InputSelect/InputSelect.tsx
  src/components/InputSuggestView/InputSuggestView.module.scss
  src/components/InputSuggestView/InputSuggestView.tsx
  src/components/ProfilePhoto/ProfilePhoto.module.scss
  src/components/ProfilePhoto/ProfilePhoto.tsx
  src/hook/useFetch.tsx
  src/icons/Calendar/Calendar.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/utils/types.ts
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

feat: добавить яндекс.карты в проект
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/YandexMap/YandexMap.module.scss
  src/components/YandexMap/YandexMap.tsx
  src/hook/useFetch.tsx
  src/icons/Mark/yandex-logo.svg
  src/pages/MapPage/MapPage.jsx
  src/pages/MapPage/MapPage.tsx
  src/utils/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix(footer): убрать избыточные стили для футера #41
  src/components/Footer/Footer.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Update InputSuggestView.module.scss
  src/components/InputSuggestView/InputSuggestView.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

Path conditions:
  prettier --config .prettierrc --write: ((any of: **/*.{js,jsx, ts, tsx}) or (any of: **/*.scss)) or (any of: **/*.html)
  eslint --fix: any of: **/*.{js,jsx, ts, tsx}
  stylelint --fix: any of: **/*.scss
