Repository Lokrand/visitki: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

docs: добавить описание проекта #4
  README.md
Due: none

docs: добавить инструкцию для пользования линтерами #4
  README.md
Due: none

feat: добавить переменные с эндпойнтами и пояснение к ним #8
  src/utils/constants.ts
Due: none

feat: добавил svg иконки чата, тг, гитхаба и кавычек #9
  src/icons/Chat/Chat.tsx
  src/icons/GitHub/GitHub.tsx
  src/icons/Marks/Marks.tsx
  src/icons/Telegram/Telegram.tsx
Due: none

feat: добавил иконку подзагрузки и изменил свойство fill в Marks.tsx #9
  src/icons/Loader/Loader.tsx
  src/icons/Marks/Marks.tsx
Due: none

feat: типизировал Loader #9
  src/icons/Loader/Loader.tsx
Due: none

feat: добавил корректный прокси, стартовый билд для галереи и тестовые данные #11
  package-lock.json
  package.json
  setupProxy.js
  src/components/App/App.tsx
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
  src/pages/Gallery/Gallery.tsx
  src/utils/students.ts
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix(readme): исправить пути до иконок
  README.md
Due: none

feat: Добавил немного базовой структуры и стилей #11
  src/components/Card/Card.module.scss
  src/components/Card/Card.tsx
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/pages/Gallery/Gallery.module.scss
  src/pages/Gallery/Gallery.tsx
  src/utils/students.ts
Due: prettier --config .prettierrc --write, stylelint --fix

feat(utils): добавить переменные с маршрутами #5
  src/utils/constants.ts
Due: none

refactor: форматирование скриптов и стилей #5
  .lintstagedrc
  src/components/App/App.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/icons/Marks/Marks.tsx
  src/index.tsx
  src/pages/Login/Login.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/LoginPage/index.ts
  src/pages/LoginPage/loginpage.module.scss
  src/pages/Main/Main.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/MainPage/index.ts
  src/pages/MainPage/mainpage.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix: исправить маску для JS путей
  .lintstagedrc
Due: none

feat(pages): добавить заготовку для страницы с картой #5
  src/pages/MapPages/MapPages.tsx
  src/pages/MapPages/index.ts
  src/pages/MapPages/mappage.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(pages): добавить заготовку страницы с когортами #5
  src/pages/CohortPage/CohortPage.tsx
  src/pages/CohortPage/cohortpage.module.scss
  src/pages/CohortPage/index.ts
Due: prettier --config .prettierrc --write, stylelint --fix

fix(consts): исправить путь для маршрута страницы профиля
  src/utils/constants.ts
Due: none

feat(pages): добавить заготовку для страницы с детальной информацией #5
  src/pages/DetailPage/DetailPage.tsx
  src/pages/DetailPage/detailpage.module.scss
  src/pages/DetailPage/index.ts
Due: prettier --config .prettierrc --write, stylelint --fix

feat(pages): добавить заготовку для страницы с профилем пользователя #5
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/index.ts
  src/pages/ProfilePage/profilepage.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix(pages): исправить нейминг страницы с картой #5
  src/pages/MapPage/MapPage.tsx
  src/pages/MapPage/index.ts
  src/pages/MapPage/mappage.module.scss
  src/pages/MapPages/index.ts
Due: prettier --config .prettierrc --write, stylelint --fix

feat(pages): добавить заготовку страницы для админки с коментариями #5
  src/pages/AdminComentPage/AdminComentPage.tsx
  src/pages/AdminComentPage/admincomentpage.module.scss
  src/pages/AdminComentPage/index.ts
Due: prettier --config .prettierrc --write, stylelint --fix

feat(pages): добавить заготовку для админки со списком пользователей #5
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/adminuserspage.scss
  src/pages/AdminUsersPage/index.js
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

feat(pages): добавить заготовку для страницы 404 #5
  src/pages/FileNotFoundPage/FileNotFoundPage.tsx
  src/pages/FileNotFoundPage/filenotfoundpage.module.scss
  src/pages/FileNotFoundPage/index.ts
Due: prettier --config .prettierrc --write, stylelint --fix

refactor(consts): поменять названия маршрута на семантичное #5
  src/utils/constants.ts
Due: none

feat(routes): добавить базовую маршрутизацию по страницам #5
  src/components/App/App.tsx
  src/components/AppRouter/AppRouter.tsx
  src/components/AppRouter/index.ts
Due: none

feat(routes): добавить шаблон для страниц #5
  src/components/App/App.tsx
  src/components/AppLayout/AppLayout.tsx
  src/components/AppLayout/applayout.module.scss
  src/components/AppLayout/index.ts
  src/components/AppRouter/AppRouter.tsx
Due: prettier --config .prettierrc --write, stylelint --fix

feat(routes): сделать защищеные маршруты #5
  src/components/AppRouter/AppRouter.tsx
  src/hoc/ProtectedRoute.tsx
  src/pages/LoginPage/LoginPage.tsx
Due: none

feat: изменил скрипт старта
  .husky/commit-msg
Due: none

docs: добавил в Readme описание команды cz
  README.md
Due: none

feat(routes): добавил фейкрвую аавторизацию #5
  src/components/App/App.tsx
  src/components/AppRouter/AppRouter.tsx
  src/hoc/AuthProvider.tsx
  src/hoc/ProtectedRoute.tsx
  src/hook/useAuth.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/utils/types.ts
Due: none

feat(ui): добавить кастомный компонент для текста #22
  src/components/UI/Text/Text.jsx
  src/components/UI/Text/index.ts
  src/components/UI/Text/text.module.scss
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

fix: добавил константу для семейства шрифтов #22
  src/components/UI/Text/text.module.scss
  src/styles/constants.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(ui): добавить компонент для заголовка #21
  package-lock.json
  package.json
  src/components/UI/Title/Title.tsx
  src/components/UI/Title/index.ts
  src/components/UI/Title/title.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

refactor: привёл код к общему стилю написания кода
  src/components/App/App.tsx
  src/components/AppLayout/AppLayout.tsx
  src/components/AppRouter/AppRouter.tsx
  src/components/Card/Card.module.scss
  src/components/Footer/Footer.module.scss
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Input/Input.module.scss
  src/components/InputSelect/InputSelect.module.scss
  src/components/UI/Text/Text.jsx
  src/hoc/AuthProvider.tsx
  src/hoc/ProtectedRoute.tsx
  src/index.scss
  src/pages/AdminComentPage/AdminComentPage.tsx
  src/pages/AdminComentPage/AdminCommentPage.tsx
  src/pages/AdminComentPage/admincomentpage.module.scss
  src/pages/AdminComentPage/admincommentpage.module.scss
  src/pages/AdminComentPage/index.ts
  src/pages/AdminUsersPage/AdminUsersPage.tsx
  src/pages/AdminUsersPage/index.ts
  src/pages/CohortPage/CohortPage.tsx
  src/pages/DetailPage/DetailPage.tsx
  src/pages/FileNotFoundPage/FileNotFoundPage.tsx
  src/pages/Gallery/Gallery.module.scss
  src/pages/Gallery/Gallery.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/pages/MainPage/MainPage.tsx
  src/pages/MapPage/MapPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
Due: prettier --config .prettierrc --write, eslint --fix, stylelint --fix

refactor(ui): рефактор компонента с заголовками #21
  src/components/UI/Title/Title.tsx
  src/components/UI/Title/title.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix: иправить путь до компонента
  src/pages/AdminCommentPage/AdminCommentPage.tsx
  src/pages/AdminCommentPage/admincommentpage.module.scss
  src/pages/AdminCommentPage/index.ts
Due: prettier --config .prettierrc --write, stylelint --fix

fix: добавить недостающий импорт
  src/components/Footer/Footer.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

fix(ui): поправить расширение файла
  src/components/UI/Text/Text.tsx
Due: none

feat(ui): добавить компонент с кнопкой #23
  package-lock.json
  package.json
  src/components/UI/Button/Button.module.scss
  src/components/UI/Button/Button.tsx
  src/components/UI/Button/index.ts
  src/styles/constants.scss
Due: prettier --config .prettierrc --write, stylelint --fix

refactor(ui): переписать стили по БЭМ #21
  src/components/UI/Title/Title.tsx
  src/components/UI/Title/title.module.scss
Due: prettier --config .prettierrc --write, stylelint --fix

feat(inputs): блок с инпутами набросок #15
  src/components/InpuTextArea/InpuTextArea.module.scss
  src/components/InpuTextArea/InpuTextArea.tsx
  src/components/Input/Input.tsx
  src/components/InputFile/InputFile.module.scss
  src/components/InputFile/InputFile.tsx
  src/components/InputSelect/InputSelect.module.scss
  src/components/InputSelect/InputSelect.tsx
  src/components/ProfilePhoto/ProfilePhoto.module.scss
  src/components/ProfilePhoto/ProfilePhoto.tsx
  src/icons/Arrow/Arrow.tsx
  src/icons/Attach.svg
  src/icons/Attach/Attach.tsx
  src/icons/Camera/Camera.tsx
  src/icons/Cross/Cross.tsx
  src/icons/akar-icons_cross.svg
  src/icons/arrow.svg
  src/pages/LoginPage/LoginPage.tsx
  src/pages/ProfilePage/ProfilePage.tsx
  src/pages/ProfilePage/profilepage.module.scss
  src/utils/cities.ts
  src/utils/template.ts
  yarn.lock
Due: prettier --config .prettierrc --write, stylelint --fix

feat(auth): сделать авторизацию через YandexID #29
  src/hoc/AuthProvider.tsx
  src/hoc/ProtectedRoute.tsx
  src/pages/LoginPage/LoginPage.tsx
  src/utils/types.ts
Due: none

Path conditions:
  prettier --config .prettierrc --write: ((any of: **/*.{js,jsx, ts, tsx}) or (any of: **/*.scss)) or (any of: **/*.html)
  eslint --fix: any of: **/*.{js,jsx, ts, tsx}
  stylelint --fix: any of: **/*.scss
